Generated/**
Generated
Configuration/**
Configuration
Sources/*/cpfPackageVersion_*.cmake
.vscode/
1_Configure.py
2_Generate.py
3_Make.py
/install
/3_Generate.py
/4_Make.py
/2_GetDependencies.py
/Sources/test_package_FPackage/conan.lock
/Sources/test_package_FPackage/conanbuildinfo.cmake
/Sources/test_package_FPackage/conanbuildinfo.txt
/Sources/test_package_FPackage/conaninfo.txt
/Sources/test_package_FPackage/graph_info.json
/Sources/test_package_FPackage/build
/Sources/test_package_FPackage/cmake-build-debug

